In [7]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs
print("Libraries imported successfully")

Libraries imported successfully

In [8]:
URL = 'https://www.worldometers.info/coronavirus/'
page = requests.get(URL)
soup = bs(page.content, 'html.parser')
##print(soup)

In [13]:
results = soup.find(id='main_table_countries_today')
##print(results.prettify())

In [14]:
headings = []
th_headings = results.find_all("th")
for th_heading in th_headings:
    th_heading = (th_heading.text).strip("\n")
    headings.append(th_heading)
print(headings)

['#', 'Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'Tot\xa0Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/\n1M pop', 'Population', 'Continent', '1 Caseevery X ppl', '1 Deathevery X ppl', '1 Testevery X ppl']

In [15]:
newDataFrame = []

for row in results.find_all('tr'):
    rows = []
    
    for cell in row.find_all('td'):
        rows.append((cell.text).strip("\n"))
    
    if(len(rows)> 0):
        data = {
                headings[0]: rows[0],
                headings[1]: rows[1],
                headings[2]: rows[2],
                headings[3]: rows[3],
                headings[4]: rows[4],
                headings[5]: rows[5],
                headings[6]: rows[6],
                headings[7]: rows[7],
                headings[8]: rows[8],
                headings[9]: rows[9],
                headings[10]: rows[10],            
        }
        
        newDataFrame.append(data)

In [16]:
df =pd.DataFrame(newDataFrame)
print(df.head(1))

     #  Country,Other  TotalCases NewCases TotalDeaths NewDeaths  \
0       North America  25,933,086  +16,935     552,109    +1,144
1                Asia  21,402,284     +759     347,528       +25
2       South America  13,908,737   +1,644     375,705       +23
3              Europe  25,748,035              586,193
4              Africa   3,037,007               72,216
5             Oceania      48,987      +43       1,067
6                             721                   15
7               World  90,078,857  +19,381   1,934,833    +1,192
8    1            USA  22,699,938             381,480
9    2          India  10,451,346             151,048
10   3         Brazil   8,075,998             202,657
11   4         Russia   3,379,103              61,381
12   5             UK   3,017,409              80,868
13   6         France   2,767,312              67,599
14   7         Turkey   2,317,118              22,631
15   8          Italy   2,257,866              78,394
16   9          Spain   2,050,360              51,874
17  10        Germany   1,914,335              41,061
18  11       Colombia   1,771,363              45,784
19  12      Argentina   1,714,409              44,417
20  13         Mexico   1,524,036  +16,105    133,204     +1,135
21  14         Poland   1,376,389              31,011
22  15           Iran   1,280,438              56,100
23  16   South Africa   1,214,176              32,824
24  17        Ukraine   1,110,015              19,668
25  18           Peru   1,032,275              38,213
26  19    Netherlands     866,235              12,307
27  20        Czechia     822,716              12,978
28  21      Indonesia     818,386              23,947
29  22        Romania     668,202              16,592
30  23        Belgium     660,703              19,992
31  24         Canada     652,473              16,833
32  25          Chile     637,742              17,037
33  26           Iraq     602,331              12,881
34  27     Bangladesh     521,382               7,756
35  28       Pakistan     499,517              10,598
36  29         Sweden     489,471               9,433
37  30    Philippines     485,797               9,398
38  31         Israel     485,434               3,645
39  32    Switzerland     477,983               8,253
40  33       Portugal     476,187               7,701
41  34        Morocco     451,637               7,709
42  35        Austria     379,071               6,687
43  36   Saudi Arabia     363,692               6,286
44  37         Serbia     357,894               3,548
45  38        Hungary     340,459              10,554
46  39         Jordan     305,959               4,009
47  40         Panama     276,772               4,406
48  41          Japan     273,154               3,932
49  42          Nepal     264,521               1,912

   TotalRecovered NewRecovered ActiveCases Serious,Critical TotÂ Cases/1M pop
0      15,888,609       +8,438   9,492,368           34,886
1      19,875,534       +1,107   1,179,222           24,008
2      12,395,199         +822   1,137,833           18,587
3      13,808,653               11,353,189           28,547
4       2,461,292                  503,499            2,468
5          33,643          +21      14,277               21
6             706                        0                0
7      64,463,636      +10,388  23,680,388          108,517           11,556
8      13,393,078                8,925,380           29,012           68,368
9      10,075,395                  224,903            8,944            7,535
10      7,144,011                  729,330            8,318           37,853
11      2,754,809                  562,913            2,300           23,150
12      1,406,967                1,529,574            3,098           44,326
13        202,165                2,497,548            2,609           42,346
14      2,190,047                  104,440            2,903           27,320
15      1,606,630                  572,842            2,593           37,373
16            N/A          N/A         N/A            2,318           43,845
17      1,511,800                  361,474            5,414           22,810
18      1,609,564                  116,015            3,482           34,619
19      1,504,330                  165,662            3,597           37,751
20      1,143,254       +8,377     247,578            3,913           11,756
21      1,113,738                  231,640            1,596           36,389
22      1,067,466                  156,872            4,686           15,143
23        956,712                  224,640              546           20,338
24        786,306                  304,041              177           25,462
25        968,335                   25,727            1,424           31,081
26            N/A          N/A         N/A              700           50,495
27        654,008                  155,730            1,108           76,750
28        673,511                  120,928                             2,976
29        596,515                   55,095            1,100           34,857
30         45,744                  594,967              378           56,878
31        552,388                   83,252              843           17,208
32        599,604                   21,101              911           33,212
33        554,990                   34,460              129           14,802
34        466,064                   47,562                             3,149
35        455,445                   33,474            2,266            2,239
36            N/A          N/A         N/A              380           48,308
37        449,615                   26,784              727            4,403
38        412,296                   69,493              975           52,778
39        317,600                  152,130              390           55,017
40        366,080                  102,406              540           46,772
41        423,541                   20,387              643           12,160
42        351,382                   21,002              369           41,963
43        355,382                    2,024              308           10,362
44         31,536                  322,810              207           41,049
45        193,172                  136,733              365           35,290
46        286,983                   14,967              209           29,831
47        217,544                   54,822              219           63,622
48        217,369                   51,853              827            2,163
49        257,928                    4,681                             8,994

In [134]:
df.replace(' ', np.nan)
print(df.head(50))

     #  Country,Other  TotalCases NewCases TotalDeaths NewDeaths  \
0       North America  25,931,700  +16,105     552,089    +1,135
1                Asia  21,402,259     +734     347,528       +25
2       South America  13,908,737   +1,644     375,705       +23
3              Europe  25,748,035              586,193
4              Africa   3,037,007               72,216
5             Oceania      48,987      +43       1,067
6                             721                   15
7               World  90,077,446  +18,526   1,934,813    +1,183
8    1            USA  22,699,938             381,480
9    2          India  10,451,346             151,048
10   3         Brazil   8,075,998             202,657
11   4         Russia   3,379,103              61,381
12   5             UK   3,017,409              80,868
13   6         France   2,767,312              67,599
14   7         Turkey   2,317,118              22,631
15   8          Italy   2,257,866              78,394
16   9          Spain   2,050,360              51,874
17  10        Germany   1,914,335              41,061
18  11       Colombia   1,771,363              45,784
19  12      Argentina   1,714,409              44,417
20  13         Mexico   1,524,036  +16,105    133,204     +1,135
21  14         Poland   1,376,389              31,011
22  15           Iran   1,280,438              56,100
23  16   South Africa   1,214,176              32,824
24  17        Ukraine   1,110,015              19,668
25  18           Peru   1,032,275              38,213
26  19    Netherlands     866,235              12,307
27  20        Czechia     822,716              12,978
28  21      Indonesia     818,386              23,947
29  22        Romania     668,202              16,592
30  23        Belgium     660,703              19,992
31  24         Canada     652,473              16,833
32  25          Chile     637,742              17,037
33  26           Iraq     602,331              12,881
34  27     Bangladesh     521,382               7,756
35  28       Pakistan     499,517              10,598
36  29         Sweden     489,471               9,433
37  30    Philippines     485,797               9,398
38  31         Israel     485,434               3,645
39  32    Switzerland     477,983               8,253
40  33       Portugal     476,187               7,701
41  34        Morocco     451,637               7,709
42  35        Austria     379,071               6,687
43  36   Saudi Arabia     363,692               6,286
44  37         Serbia     357,894               3,548
45  38        Hungary     340,459              10,554
46  39         Jordan     305,959               4,009
47  40         Panama     276,772               4,406
48  41          Japan     273,154               3,932
49  42          Nepal     264,521               1,912

   TotalRecovered NewRecovered ActiveCases Serious,Critical TotÂ Cases/1M pop
0      15,888,338       +8,377   9,491,273           34,886
1      19,875,528       +1,101   1,179,203           24,008
2      12,395,199         +822   1,137,833           18,587
3      13,808,653               11,353,189           28,547
4       2,461,292                  503,499            2,468
5          33,643          +21      14,277               21
6             706                        0                0
7      64,463,359      +10,321  23,679,274          108,517           11,556
8      13,393,078                8,925,380           29,012           68,368
9      10,075,395                  224,903            8,944            7,535
10      7,144,011                  729,330            8,318           37,853
11      2,754,809                  562,913            2,300           23,150
12      1,406,967                1,529,574            3,098           44,326
13        202,165                2,497,548            2,609           42,346
14      2,190,047                  104,440            2,903           27,320
15      1,606,630                  572,842            2,593           37,373
16            N/A          N/A         N/A            2,318           43,845
17      1,511,800                  361,474            5,414           22,810
18      1,609,564                  116,015            3,482           34,619
19      1,504,330                  165,662            3,597           37,751
20      1,143,254       +8,377     247,578            3,913           11,756
21      1,113,738                  231,640            1,596           36,389
22      1,067,466                  156,872            4,686           15,143
23        956,712                  224,640              546           20,338
24        786,306                  304,041              177           25,462
25        968,335                   25,727            1,424           31,081
26            N/A          N/A         N/A              700           50,495
27        654,008                  155,730            1,108           76,750
28        673,511                  120,928                             2,976
29        596,515                   55,095            1,100           34,857
30         45,744                  594,967              378           56,878
31        552,388                   83,252              843           17,208
32        599,604                   21,101              911           33,212
33        554,990                   34,460              129           14,802
34        466,064                   47,562                             3,149
35        455,445                   33,474            2,266            2,239
36            N/A          N/A         N/A              380           48,308
37        449,615                   26,784              727            4,403
38        412,296                   69,493              975           52,778
39        317,600                  152,130              390           55,017
40        366,080                  102,406              540           46,772
41        423,541                   20,387              643           12,160
42        351,382                   21,002              369           41,963
43        355,382                    2,024              308           10,362
44         31,536                  322,810              207           41,049
45        193,172                  136,733              365           35,290
46        286,983                   14,967              209           29,831
47        217,544                   54,822              219           63,622
48        217,369                   51,853              827            2,163
49        257,928                    4,681                             8,994

In [139]:
df.dtypes

#                   object
Country,Other       object
TotalCases          object
NewCases            object
TotalDeaths         object
NewDeaths           object
TotalRecovered      object
NewRecovered        object
ActiveCases         object
Serious,Critical    object
TotÂ Cases/1M pop    object
dtype: object

In [153]:
df = df.rename(columns={"#": "Index", "Country,Other": "Countries", "Serious,Critical":"CriticalCases", "Tot\xa0Cases/1M pop":"TotalCasesPer1M"},inplace = True)

In [155]:
df.drop(df.index[[0,1,2,3,4,5,6,7]])

,Index,Countries,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,CriticalCases,TotalCasesPer1M
8,1,USA,"22,699,938",,"381,480",,"13,393,078",,"8,925,380","29,012","68,368"
9,2,India,"10,451,346",,"151,048",,"10,075,395",,"224,903","8,944","7,535"
10,3,Brazil,"8,075,998",,"202,657",,"7,144,011",,"729,330","8,318","37,853"
11,4,Russia,"3,379,103",,"61,381",,"2,754,809",,"562,913","2,300","23,150"
12,5,UK,"3,017,409",,"80,868",,"1,406,967",,"1,529,574","3,098","44,326"
...,...,...,...,...,...,...,...,...,...,...,...
231,,Total:,"25,748,035",,"586,193",,"13,808,653",,"11,353,189","28,547",
232,,Total:,"3,037,007",,"72,216",,"2,461,292",,"503,499","2,468",
233,,Total:,"48,987",+43,"1,067",,"33,643",,"14,277",21,
234,,Total:,721,,15,,706,,0,0,
235,,Total:,"90,077,446","+18,526","1,934,813","+1,183","64,463,359","+10,321","23,679,274","108,517","11,556.1"